<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ecologic">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Login"/>
        <activity android:name=".Register"/>
        <activity android:name=".Tourism">
        </activity>
        <activity android:name=".userData">
        </activity>
        <activity android:name=".SupHome">
        </activity>
        <activity
                android:name=".activities.UserActivity"
                android:label="@string/title_activity_user"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activities.AddComent"
                android:label="@string/title_activity_add_coment"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activities.DetailTour"
                android:label="@string/title_activity_detail_tour"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activities.SuccessActivity"
                android:label="@string/title_activity_success"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activities.AddEvent"
                android:label="@string/title_activity_add_event"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activities.DetailEvent"
                android:label="@string/title_activity_detail_event"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activities.DetailIdea"
                android:label="@string/title_activity_detail_idea"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activities.AddIdea"
                android:label=""
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activities.DetailBlog"
                android:label="@string/title_activity_detail_blog"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activities.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>